<?xml version="1.0" encoding="utf-8"?>
<!--
 *=========================================================================
 *
 *  PROJECT:  BrokenOs
 *            Team BrokenOs (http://brokenos.wix.com/main)
 *            CREDITS TO SLIMROM
 *  COPYRIGHT Copyright (C) 2014 BrokenOs http://brokenos.wix.com/main
 *            All rights reserved
 *
 *  LICENSE   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 *
 *  AUTHORS:     fronti90, mnazim, tchaari, kufikugel
 *  DESCRIPTION: BrokenCenter: manage your ROM
 *
 *=========================================================================
 *
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.broken.ota"
    android:versionCode="1"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_brokenota"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:theme="@style/BrokenOTA" >
        <activity
            android:name="com.broken.center.BrokenCenter"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.broken.sizer.BrokenSizer"
            android:label="@string/sizer_title"
            android:parentActivityName="com.broken.center.BrokenCenter" >
        </activity>
        <activity
            android:name="com.broken.center.AboutBroken"
            android:label="@string/aboutbroken_title"
            android:parentActivityName="com.broken.center.BrokenCenter" >
        </activity>

        <activity
            android:name="com.broken.ota.About"
            android:parentActivityName="com.broken.center.BrokenCenter">
        </activity>
    </application>

</manifest>
