<?xml version="1.0" encoding="utf-8"?>
<!--
 *=========================================================================
 *
 *  PROJECT:  BrokenOs
 *            Team Brokenroms (http://www.BrokenOs.net)
 *
 *  COPYRIGHT Copyright (C) 2013 Brokenroms http://www.BrokenOs.net
 *            All rights reserved
 *
 *  LICENSE   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 *
 *  AUTHORS:     fronti90, mnazim, tchaari, kufikugel
 *  DESCRIPTION: BrokenCenter: manage your ROM
 *
 *=========================================================================
 *
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.broken.ota"
    android:versionCode="1"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_brokenota"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:theme="@style/BrokenOTA" >
        <activity
            android:name="com.broken.center.BrokenCenter"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.broken.ota.BrokenOTA"
            android:label="@string/ota_title"
            android:parentActivityName="com.broken.center.BrokenCenter" >
        </activity>
        <activity
            android:name="com.broken.sizer.BrokenSizer"
            android:label="@string/sizer_title"
            android:parentActivityName="com.broken.center.BrokenCenter" >
        </activity>
        <activity
            android:name="com.broken.center.AboutBroken"
            android:label="@string/aboutbroken_title"
            android:parentActivityName="com.broken.center.BrokenCenter" >
        </activity>

        <service android:name="com.broken.ota.updater.UpdateService" />

        <receiver android:name="com.commonsware.cwac.wakeful.AlarmReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="com.commonsware.cwac.wakeful"
                android:resource="@xml/wakeful" />
        </receiver>
        <receiver
            android:name=".updater.ConnectivityReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.broken.ota.settings.Settings"
            android:parentActivityName="com.broken.ota.BrokenOTA">
        </activity>
        <activity
            android:name="com.broken.ota.settings.About"
            android:parentActivityName="com.broken.center.BrokenCenter">
        </activity>
    </application>

</manifest>
